{% extends 'user/dashboard/dashboard.html' %}
{% load static %}
{% load options %}
{% block title %}

{% endblock %}

{% block content  %}
{% if errors %}
<div class="w-full bg-red-500 text-xs text-white p-4 flex flex-col gap-2 rounded-box">
{% for error in errors %}
{% if error == 'name' %}
<p>
    نام محصول را باه انگلیسی و فارسی وارد کنید
</p>
{% elif error == 'price' %}
<p>
    قیمت محصول را به دردسی وارد کنید
</p>
{% elif error == 'quantity' %}
<p>
    موجودی (تعداد) محصول را به درستی وارد نمایید
</p>

{% elif error == 'stock_low_threshold' %}
<p>
    آستانه اتمام را مشخص کنید (در صورتی که تعداد محصول از این عدد کمتر شود فروشنده مطلع خواهد شد.)
</p>
{% elif error == 'shipping_cost' %}
<p>
    قیمت تقریبی ارسال را مشخص کنید
</p>
{% elif error  == 'category' %}
<p>
   دسته بندی محصول را مشخص کنید.
</p>
{% endif %}
{% endfor  %}
</div>
{% elif status %}
    {% if status == 'created' %}
        <div class="w-full bg-success text-xs text-white p-2 rounded-box">
            <p>محصول با موفقیت ثبت شد</p>
        </div>
    {% elif status == 'edited' %}
        <div class="w-full bg-success text-xs text-white p-2 rounded-box">
            <p>محصول با موفقیت ویرایش شد</p>
        </div>
    {% endif %}
{% endif %}

<div class="flex justify-center items-center text-sm md:text-md mt-8 p-2">
    <div class="tabs gap-4">
        <a class="tab tab-bordered tab-active ">مشخصات کلی</a>
        {% if product %}<a href="{% url 'users:add-option' product.id %}" class="tab tab-bordered ">سایر ویژگیها</a>{% endif %}
    </div>
</div>

<div class="flex flex-col  md:mt-2  items-center  justify-center w-full h-full gap-2">
    <form onsubmit="update_attrs();"
        class=" relative flex flex-col items-start gap-2 w-full p-2 basis-3/4 md:w-3/4"
        action="{% if product %}{% url 'users:edit-product' product.id %}{% else %}{% url 'users:add-product' %}{% endif %}"
        method="post">
        {% csrf_token %}
        <section class="w-full flex flex-col md:flex-row gap-2">
            <div class="w-full md:w-2/3 md:basis-2/3 flex flex-col gap-2 ">
                <section class="bg-base-100 p-3 w-full  rounded-box shadow-md basis-2/3 flex flex-col gap-2">
                    <div class="flex flex-col md:flex-row gap-2 ">
                        <input name="name" placeholder="نام محصول" class="input input-bordered p-1 w-full" type="text"
                            value="{{product.name}}">
                        <input name="en_name" placeholder="نام محصول به انگلیسی" class="input input-bordered w-full p-1"
                            type="text" value="{{product.en_name}}">
                    </div>
                    <input name="sku" placeholder="SKU" class="input input-bordered p-1 " type="text"
                        value="{{product.sku}}">
                    <textarea name="description" id="" class="textarea textarea-bordered" cols="30" rows="5"
                        placeholder="توضیحات"></textarea>
                    <div class="flex gap-2">
                        <input id="price" name="price" placeholder="قیمت" min="0" step="1000"
                            class="input input-bordered p-1  w-full" type="number" value="{{product.price}}">
                        <input name="quantity" placeholder="تعداد" class="input input-bordered p-1 w-full "
                            type="number" value="{{product.quantity}}">
                        <input name="stock_low_threshold" placeholder="آستانه اتمام"
                            class="input input-bordered p-1 w-full " min="0" type="number"
                            value="{{product.stock_low_threshold}}">
                    </div>
                    <div class="form-control">
                        <label class="label text-xs">هزینه تقریبی پست:</label>
                        <input type="number" min="1000" step="500" name="shipping_cost" class="input input-bordered"
                            placeholder="هزینه تقریبی ارسال پستی" value="{{product.shipping_cost}}">
                    </div>
                    <div class="form-control">
                        <label class="label text-xs">قیمت با تخفیف:</label>
                        <input onblur="check_sales_price(this);" type="number" min="1000" step="500" name="sales_price" class="input input-bordered" placeholder="قیمت با تخفیف"
                            value="{{product.sales_price}}">
                    </div>
                    <span id="sales_error" class="text-xs mt-2 text-error hidden">قیمت با تخفیف باید کمتر از قیمت اصلی باشد!</span>

                    <h2 class="text-center text-blue-500 text-lg mt-2">SEO</h2>
                    <div class="divider w-1/2 mx-auto -mt-2"></div>
                    <div dir="ltr" class="flex flex-col gap-2">
                        <div class="flex gap-2 -mt-4">
                            <input name="meta_title" type="text" class="input input-bordered w-full"
                                placeholder="meta title" value="{{product.meta_title}}">
                            <input name="meta_keywords" type="text" class="input input-bordered w-full"
                                placeholder="meta keywords" value="{{product.meta_keywords}}">
                        </div>
                        <textarea name="meta_description" type="text" class="textarea textarea-bordered" cols="10"
                            rows="2" placeholder="meta description"></textarea>
                    </div>
                </section>
            </div>
            <div class="w-full md:w-1/3 md:basis-1/3">
                <section class="flex flex-col gap-2 basis-1/3">
                    {% with product.category.id as current_cat_id %}
                    <section class="bg-base-100 p-3  rounded-box shadow-md flex flex-col gap-2">
                        <h2 class="text-center text-lg text-blue-500">دسته بندی</h2>
                        <div class="p-2 rounded border border-gray-400 max-h-52 overflow-auto">
                            <div class="form-control">
                                {% for category in categories %}
                                <label class="label cursor-pointer w-fit">
                                    <input type="radio" class="radio radio-primary radio-xs" name="category"
                                        value="{{category.id}}" id=""
                                        {% if category.id == current_cat_id %}checked{% endif %}>
                                    <span class="label-text text-xs mr-2">{{category.name}}</span>
                                </label>
                                <div class="pr-4">
                                    {% if category.childs %}
                                    {% for sub_1 in category.childs.all %}
                                    <div class="form-control">
                                        <label class="label cursor-pointer w-fit">
                                            <input type="radio" class="radio radio-primary radio-xs" name="category"
                                                value="{{sub_1.id}}" id=""
                                                {% if sub_1.id == current_cat_id %}checked{% endif %}>
                                            <span class="label-text text-xs mr-2">{{sub_1.name}}</span>
                                        </label>
                                        <div class="pr-4">
                                            {% if sub_1.childs %}
                                            {% for sub_2 in sub_1.childs.all %}
                                            <div class="form-control">
                                                <label class="label cursor-pointer w-fit">
                                                    <input type="radio" class="radio radio-primary radio-xs"
                                                        name="category" value="{{sub_2.id}}" id=""
                                                        {% if sub_2.id == current_cat_id %}checked{% endif %}>
                                                    <span class="label-text text-xs mr-2">{{sub_2.name}}</span>
                                                </label>
                                                <div class="pr-4">
                                                    {% if sub_2.childs %}
                                                    {% for sub_3 in sub_2.childs.all %}
                                                    <div class="form-control">
                                                        <label class="label cursor-pointer w-fit">
                                                            <input type="radio" class="radio radio-primary radio-xs"
                                                                name="category" value="{{sub_3.id}}" id=""
                                                                {% if category.id == sub_3 %}checked{% endif %}>
                                                            <span class="label-text text-xs mr-2">{{sub_3.name}}</span>
                                                        </label>
                                                        <div class="mr-4">
                                                            {% if sub_3.childs %}
                                                            {% for sub_4 in sub_3.childs.all %}
                                                            <div class="form-control">
                                                                <label class="label cursor-pointer w-fit">
                                                                    <input type="radio"
                                                                        class="radio radio-primary radio-xs"
                                                                        name="category" value="{{sub_4.id}}" id=""
                                                                        {% if sub_4.id == current_cat_id %}checked{% endif %}>
                                                                    <span
                                                                        class="label-text text-xs mr-2">{{sub_4.name}}</span>
                                                                </label>
                                                            </div>
                                                            {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    {% endwith %}
                    <section class="bg-base-100 p-3 rounded-box  shadow-md flex flex-col gap-2">
                        <div class="flex flex-col  mt-2 ">
                            <div class="form-control w-fit ">
                                <label class="label cursor-pointer">
                                    <input name="has_sales" type="checkbox" name="a" value="dd"
                                        class="checkbox checkbox-primary" id=""
                                        {% if product.has_sales %}checked{% endif %}>
                                    <span class="label-text mr-2 text-xs"> تخفیف دارد</span>
                                </label>
                            </div>
                            <div class="form-control w-fit ">
                                <label class="label cursor-pointer">
                                    <input name="free_shipping" type="checkbox" name="a" value="dd"
                                        class="checkbox checkbox-primary" id=""
                                        {% if product.free_shipping %}checked{% endif %}>
                                    <span class="label-text mr-2 text-xs">ارسال رایگان</span>
                                </label>
                            </div>
                            <div class="form-control w-fit ">
                                <label class="label cursor-pointer">
                                    <input name="sold_individually" type="checkbox" name="a" value="dd"
                                        class="checkbox checkbox-primary"
                                        {% if product.sold_individually %}checked{% endif %}>
                                    <span class="label-text mr-2 text-xs"> فروش تکی</span>
                                </label>
                            </div>

                        </div>
                    </section>
                    <input type="hidden" name="attributes" value="{{product.attributes}}">
                    <section class="bg-base-100 p-3 rounded-box shadow-md flex flex-col gap-2">
                        <h2 class="text-gray-600 text-lg text-center">سایر ویژگیها</h2>
                        <div class="flex gap-2 items-center">
                            <input id="attr_key" placeholder="ویژگی" class="input w-1/2 input-bordered" type="text">
                            <span>:</span>
                            <input id="attr_val" placeholder="مقدار" class="input w-1/2 input-bordered" type="text">
                        </div>
                        <button type="button" onclick="add_attribute();" class="btn btn-primary">افزودن ویژگی</button>
                        <div id="attr_list" class="flex flex-col gap-2 text-xs">
                            {% if product.attributes %}
                            {% for key,value in product.attributes.items %}
                            <div class="flex justify-between rounded-md items-center  p-1 text-gray-800 bg-stone-50 p1">
                                <div class="flex gap-2 item">
                                    <span>{{key}}</span>:
                                    <span>{{value}}</span>
                                </div>
                                <i data-key="{{key}}" onclick="delete_attribute(this);" class="bi-x text-lg"></i>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </section>

            </div>
        </section>
        <section aria-label="actins" class="flex w-full gap-2 justify-center items-center p-2 mt-2 mb-20">
            {% if product %}
            <button id="submit" class=" btn btn-primary w-1/2">ویرایش</button>
            {% else %}
            <button id="submit" class=" btn btn-primary w-1/2">ثبت</button>
            {% endif %}
            <button formaction="{% url 'users:dashboard' %}" formmethod="get" class=" btn btn-outline w-1/2">لغو</button>
        </section>

        
    </form>
</div>

<template id="attr_template">
    <div class="flex justify-between rounded-md items-center  p-1 text-gray-800 bg-stone-50 p1">
        <div class="flex gap-2 item">
            <span id="key"></span>:
            <span id="val"></span>
        </div>
        <i data-key="" id="del" onclick="delete_attribute(this);" class="bi-x text-lg"></i>
    </div>
</template>

{% endblock %}

{% block scripts %}
<script>
    selectMenu('shop')
    // holds attributes added to the product
    const attrs = document.getElementsByName('attributes')[0].value;
    let attributes = new Map();
    if (attrs.trim() !== ''){
        let str_attrs = attrs.split("'").join('"');
        const obj = JSON.parse(str_attrs);
        attributes = new Map(Object.entries(obj));
    }

    function update_attrs() {
        const attr_fiels = document.getElementsByName('attributes')[0];
        attr_fiels.value = JSON.stringify(Object.fromEntries(attributes));
    }

    function add_attribute() {

        const key = document.querySelector('#attr_key').value.trim();
        const val = document.querySelector('#attr_val').value.trim();
        if (key == '' || val == '')
            return

        if (attributes.has(key))
            return

        attributes.set(key, val);
        update_attrs();

        const _attr_element = document.querySelector('#attr_template').content.cloneNode(true);
        _attr_element.getElementById('key').innerText = key;
        _attr_element.getElementById('val').innerText = val;
        _attr_element.getElementById('del').dataset['key'] = key;
        document.querySelector('#attr_list').appendChild(_attr_element);

    }

    function delete_attribute(e) {
        const key = e.dataset['key'];
        if (attributes.has(key)) {
            attributes.delete(key);
            console.log('deleted')
        }
        update_attrs();
        e.parentNode.remove();
    }

    function check_sales_price(e) {
        const sales_price = e.value.trim();
        const price = document.getElementById('price').value.trim();
        const sales_error = document.getElementById('sales_error');
        const submit = document.getElementById('submit');
        if (price == '' || sales_price == '') return;
        if (parseInt(sales_price) >= parseInt(price)) {
            submit.disabled = true;
            sales_error.classList.remove('hidden');
        }
        else{
            submit.disabled = false;
            sales_error.classList.add('hidden');
        }

    }
</script>
{% endblock %}
