{% extends 'user/dashboard/dashboard.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content  %}
<div class="flex flex-col md:flex-row md:mt-8 items-center md:items-start justify-center w-full h-full gap-2">
    <form class="flex flex-col md:flex-row gap-2 w-full p-2 basis-3/4 md:w-3/4" action="/add/" method="post">
        {% csrf_token %}
        <section class="bg-base-100 p-3 w-full  rounded-box shadow-md basis-2/3 flex flex-col gap-2">
            <h4 class="text-center text-md text-gray-800 mb-2">افزودن محصول</h4>
            <div class="flex gap-2">
                <input name="title" placeholder="نام محصول" class="input input-bordered p-1 w-full" type="text">
                <input name="en_title" placeholder="نام محصول به انگلیسی" class="input input-bordered w-full p-1"
                    type="text">
            </div>
            <input name="last_name" placeholder="SKU" class="input input-bordered p-1 " type="text">
            <textarea name="description" id="" class="textarea textarea-bordered" cols="30" rows="5"
                placeholder="توضیحات"></textarea>
            <div class="flex gap-2">
                <input name="last_name" placeholder="قیمت" min="0" step="1000" class="input input-bordered p-1  w-full"
                    type="number">
                <input name="last_name" placeholder="تعداد" class="input input-bordered p-1 w-full " type="number">
                <input name="last_name" placeholder="آستانه اتمام" class="input input-bordered p-1 w-full " min="0"
                    type="number">
            </div>
            <h2 class="text-center text-blue-500 text-lg mt-2">SEO</h2>
            <div class="divider w-1/2 mx-auto -mt-2"></div>
            <div dir="ltr" class="flex flex-col gap-2">
                <div class="flex gap-2 -mt-4">
                    <input type="text" class="input input-bordered w-full" placeholder="meta title">
                    <input type="text" class="input input-bordered w-full" placeholder="meta keywords">
                </div>
                <textarea type="text" class="textarea textarea-bordered" cols="10" rows="2"
                    placeholder="meta description"></textarea>
            </div>
            <h2 class="text-center text-blue-500 text-lg mt-2">تخفیف</h2>
            <div class="divider w-1/2 mx-auto -mt-2"></div>
            <div class="form-control w-fit ">
                <label class="label cursor-pointer -mt-4">
                    <input type="checkbox" name="a" value="dd" class="checkbox checkbox-primary" id="">
                    <span class="label-text mr-2"> تخفیف</span>
                </label>
            </div>
            <input type="text" class="input input-bordered" placeholder="قیمت با تخفیف">
            <div class="divider w-1/2 mx-auto "></div>
            <div class="flex gap-8">
                <div class="form-control w-fit ">
                    <label class="label cursor-pointer">
                        <input type="checkbox" name="a" value="dd" class="checkbox checkbox-primary" id="">
                        <span class="label-text mr-2">ارسال رایگان</span>
                    </label>
                </div>
                <div class="form-control w-fit ">
                    <label class="label cursor-pointer">
                        <input type="checkbox" name="a" value="dd" class="checkbox checkbox-primary" id="">
                        <span class="label-text mr-2"> فروش تکی</span>
                    </label>
                </div>
            </div>
        </section>
        <section class="flex flex-col gap-2 basis-1/3">
            <section class="bg-base-100 p-3 rounded-box shadow-md flex flex-col gap-2">
                <h2 class="text-center text-lg text-blue-500">دسته بندی</h2>
                <div class="p-2 rounded border border-gray-400 max-h-52 overflow-auto">
                    <div class="form-control">
                        <label class="label cursor-pointer w-fit">
                            <input type="checkbox" class="checkbox checkbox-primary checkbox-xs" name="categories"
                                value="1" id="">
                            <span class="label-text text-xs mr-2">زنانه</span>
                        </label>
                    </div>
                </div>
            </section>
            <section class="bg-base-100 p-3 rounded-box shadow-md flex flex-col gap-2">
                <h2 class="text-center text-lg text-blue-500">برند</h2>
                <div class="p-2 rounded border border-gray-400 max-h-52 overflow-auto">
                    <div class="form-control">
                        <label class="label cursor-pointer w-fit">
                            <input type="checkbox" class="checkbox checkbox-primary checkbox-xs" name="categories"
                                value="1" id="">
                            <span class="label-text text-xs mr-2">پوما</span>
                        </label>
                    </div>
                </div>
            </section>
            <section class="bg-base-100 p-3 rounded-box shadow-md flex flex-col gap-1">
                <h2 class="text-right text-gray-600 p-1">رنگبندی</h2>
                <div class="flex gap-3 gap-y-0 flex-wrap w-full -mt-4 ">
                    <label class="rounded-full   group cursor-pointer">
                        <input type="checkbox" class="appearance-none peer">
                        <div
                            class="rounded-full bg-red-200 w-4 h-4 outline outline-transparent outline-2 peer-checked:outline-primary outline-offset-2">
                        </div>
                    </label>
                    <label class="rounded-full  group cursor-pointer">
                        <input type="checkbox" class="appearance-none peer">
                        <div
                            class="rounded-full bg-red-200 w-4 h-4 outline outline-transparent outline-2 peer-checked:outline-primary outline-offset-2">
                        </div>
                    </label>
                    <label class="rounded-full  group cursor-pointer">
                        <input type="checkbox" class="appearance-none peer">
                        <div
                            class="rounded-full bg-red-200 w-4 h-4 outline outline-transparent outline-2 peer-checked:outline-primary outline-offset-2">
                        </div>
                    </label>
                    <label class="rounded-full  group cursor-pointer">
                        <input type="checkbox" class="appearance-none peer">
                        <div
                            class="rounded-full bg-red-200 w-4 h-4 outline outline-transparent outline-2 peer-checked:outline-primary outline-offset-2">
                        </div>
                    </label>
                    <label class="rounded-full  group cursor-pointer">
                        <input type="checkbox" class="appearance-none peer">
                        <div
                            class="rounded-full bg-red-200 w-4 h-4 outline outline-transparent outline-2 peer-checked:outline-primary outline-offset-2">
                        </div>
                    </label>
                    <label class="rounded-full  group cursor-pointer">
                        <input type="checkbox" class="appearance-none peer">
                        <div
                            class="rounded-full bg-red-200 w-4 h-4 outline outline-transparent outline-2 peer-checked:outline-primary outline-offset-2">
                        </div>
                    </label>
                    <label class="rounded-full  group cursor-pointer">
                        <input type="checkbox" class="appearance-none peer">
                        <div
                            class="rounded-full bg-red-200 w-4 h-4 outline outline-transparent outline-2 peer-checked:outline-primary outline-offset-2">
                        </div>
                    </label>
                    <label class="rounded-full  group cursor-pointer">
                        <input type="checkbox" class="appearance-none peer">
                        <div
                            class="rounded-full bg-red-200 w-4 h-4 outline outline-transparent outline-2 peer-checked:outline-primary outline-offset-2">
                        </div>
                    </label>
                    <label class="rounded-full   group cursor-pointer">
                        <input type="checkbox" class="appearance-none peer">
                        <div
                            class="rounded-full bg-red-200 w-4 h-4 outline outline-transparent outline-2 peer-checked:outline-primary outline-offset-2">
                        </div>
                    </label>

                  
                </div>
                <div class="form-control">
                    <h2 class="text-right text-gray-600 p-1">سایزبندی</h2>
                    <div class="flex gap-1 flex-wrap w-full pr-1 pl-1 -mt-4 text-xs">
                        <label class="rounded-full p-1 group cursor-pointer">
                            <input type="checkbox" class="appearance-none peer">
                            <div class="text-center    peer-checked:bg-primary peer-checked:text-white p-1">
                                SM
                            </div>
                        </label>
                        <label class="rounded-full p-1 group cursor-pointer">
                            <input type="checkbox" class="appearance-none peer">
                            <div class="text-center    peer-checked:bg-primary peer-checked:text-white p-1">
                                MD
                            </div>
                        </label>

                        <label class="rounded-full p-1 group cursor-pointer">
                            <input type="checkbox" class="appearance-none peer">
                            <div class="text-center    peer-checked:bg-primary peer-checked:text-white p-1">
                                XXL
                            </div>
                        </label>
                    </div>
                </div>
            </section>
            <section class="bg-base-100 p-3 rounded-box shadow-md flex flex-col gap-2">
                <h2 class="text-gray-600 text-lg text-center">سایر ویژگیها</h2>
                <div class="flex gap-2 items-center">
                    <input placeholder="ویژگی" class="input w-1/2 input-bordered" type="text">
                    <span>:</span>
                    <input placeholder="مقدار" class="input w-1/2 input-bordered" type="text">
                </div>
                <button class="btn btn-primary">افزودن</button>
                <div class="flex flex-col gap-2 text-xs">
                    <div class="flex justify-between rounded-md items-center  p-1 text-gray-800 bg-stone-50 p1">
                        <div class="flex gap-2 item">
                            <span>ویژگی:</span>
                            <span>مقدار</span>
                        </div>
                        <i class="bi-x text-lg"></i>
                    </div>
                    <div class="flex justify-between rounded-md items-center  p-1 text-gray-800 bg-stone-50 p1">
                        <div class="flex gap-2 item">
                            <span>ویژگی:</span>
                            <span>مقدار</span>
                        </div>
                        <i class="bi-x text-lg"></i>
                    </div>
                </div>
            </section>
            
        </section>
    </form>
    <section class="bg-base-100 w-full md:basis-1/3 p-3 rounded-box shadow-md flex flex-col items-center mb-20  gap-2">
        <h2 class="text-center text-lg text-blue-500">تصاویر</h2>
        <div class="flex gap-2">
            <img src="https://i.pravatar.cc/300" class="w-12 h-12 rounded object-cover" alt="">
            <img src="https://i.pravatar.cc/300" class="w-12 h-12 rounded object-cover" alt="">
            <img src="https://i.pravatar.cc/300" class="w-12 h-12 rounded object-cover" alt="">
            <img src="https://i.pravatar.cc/300" class="w-12 h-12 rounded object-cover" alt="">
            <img src="https://i.pravatar.cc/300" class="w-12 h-12 rounded object-cover" alt="">

        </div>
        <button class="btn btn-primary w-full mt-1">ثبت</button>
    </section>
</div>



{% endblock %}