{% extends '../base.html' %}
{% load static %}

{% block content %}
{% if cart %}
{% csrf_token %}
<section
    class="flex flex-col md:flex-row md:mt-8 items-center md:items-start justify-center gap-4 p-2 w-full min-h-screen">
    <section class="flex flex-col justify-start gap-2 md:basis-1/3">
        {% for item in cart.items.all %}
        <article class="relative bg-white rounded-box shadow-md p-2 w-full flex gap-2">
            <img src="{{item.product.preview.img.url}}" class="rounded-box h-16 w-16 object-cover"
                alt="{{item.product.preview.alt}}">
            <div class="flex flex-col gap-2 ">
                <h2>{{item.product.name}}</h2>
                <div class="flex gap-3">
                    {% for key, val in item.options.items %}
                    <div class="flex gap-1 text-xs text-gray-400">
                        <span>{{key}}:</span>
                        <span>{{val}}</span>
                    </div>
                    {%  endfor %}
                </div>
            </div>
            <span class="absolute top-2 left-4 text-gray-600 text-xs">{{item.price}} تومان</span>
        </article>
        {% endfor %}
        <template id="delete_coupon_template">
            <button data-order="{{cart.id}}" onclick="deleteCoupon(this);"
                class="btn mx-auto w-1/2 text-white btn-error">حذف کوپن</button>
        </template>
        <template id="add_coupon_template">
            <div class="flex gap-2">
                <input placeholder="کوپن تخفیف" name="code" type="text" id="coupon_code"
                    class="input input-bordered p-2 basis-full">
                <button data-order="{{cart.id}}" onclick="applyCoupon(this);" class="btn btn-primary">اعمال</button>
            </div>
            <span class="hidden text-xs text-error p-1 text-center" id="coupon_error_text">کوپن معتبر نمیباشد.</span>
        </template>

        <div class="divider"></div>
        <div class="bg-base-100 p-2 w-full rounded-box shadow-md flex flex-col gap-2">
            {% if not cart.coupon %}
            <div class="flex gap-2">
                <input placeholder="کوپن تخفیف" name="code" type="text" id="coupon_code"
                    class="input input-bordered p-2 basis-full">
                <button data-order="{{cart.id}}" onclick="applyCoupon(this);" class="btn btn-primary">اعمال</button>
            </div>
            <span class="hidden text-xs text-error p-1 text-center" id="coupon_error_text">کوپن معتبر نمیباشد.</span>
            {% else %}
            <button data-order="{{cart.id}}" onclick="deleteCoupon(this);"
                class="btn mx-auto w-1/2 text-white btn-error">حذف کوپن</button>
            {% if not cart.coupon.is_valid %}
            <span class="text-xs text-error p-1 text-center" >کوپن منقضی شده است.</span>
            {% endif %}
            {%  endif %}
        </div>
        <div class="bg-white p-4 rounded-box flex flex-col gap-3 ">
            <div class="flex justify-between">
                <span>جمع کل:</span>
                <span id="total_price">{{cart.total}}تومان</span>
            </div>
            <div class="flex justify-between">
                <span>کوپن تخفیف:</span>
                <span id="has_coupon">{% if cart.coupon.is_valid  %}دارد{% else %}ندارد{% endif %}</span>
            </div>
            <div class="flex justify-between">
                <span>جمع کل با تخفیف:</span>
                <span id="final_price">{{cart.final_price}}تومان</span>
            </div>
            <div class="flex justify-between">
                <span>نام بوتیک:</span>
                <span>{{cart.shop.name}}</span>
            </div>
            <div class="flex justify-between">
                <span>تاریخ ثبت</span>
                <span>{{cart.date_created}}</span>
            </div>
        </div>
    </section>
    <section class="bg-base-100 p-3 w-full md:w-1/3  rounded-box shadow-md flex flex-col gap-2 mb-20">
       
        <div tabindex="0" class="collapse collapse-plus">
            <input type="checkbox" name="" id="">
            <div class="collapse-title text-sm">
                افزودن آدرس
            </div>
            <div class="collapse-content p-1 w-full">
                <form class="flex flex-col basis-1/2 gap-2" action="{% url 'users:addresses' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="shop_name" value="{{ cart.shop.name }}">
                    <h4 class="text-center text-md text-gray-600 mb-2">آدرس</h4>
                    <input name="full_name" placeholder="نام و نام خانوادگی" class="input input-bordered p-1"
                        type="text">
                    <input name="phone_number" placeholder="شماره تماس" class="input input-bordered p-1" type="text">
                    <select class="select  select-bordered w-full" name="province" id="">
                        <option value="" disabled selected>استان</option>
                        <option value="تهران">تهران</option>
                        <option value="فارس">فارس</option>
                        <option value="کرمان">کرمان</option>

                    </select>
                    <select class="select  select-bordered w-full" name="city" id="">
                        <option value="" disabled selected>شهرستان</option>
                        <option value="شیراز">شیراز</option>
                        <option value="تبس">تبس</option>
                        <option value="آمل">آمل</option>

                    </select>
                    <input name="town" placeholder="شهر" class="input input-bordered p-1" type="text">
                    <input name="postal_code" placeholder="کد پستی" class="input input-bordered p-1" type="text">

                    <textarea name="description" id="" placeholder="نشانی دقیق" cols="5"
                        class="textarea textarea-bordered" rows="4"></textarea>
                    <div class="flex gap-8">
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <input type="radio" name="gender" class="radio checked:bg-red-500" value="man">
                                <span class="label-text p-1 ">مرد</span>
                            </label>
                        </div>
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <input type="radio" name="gender" class="radio checked:bg-red-500" value="woman">
                                <span class="label-text p-1 ">زن</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">افزودن</button>
                </form>
            </div>
        </div>
        {% if  address_status == 'invalid address' %}
        <h2 class="mt-2 text-center text-error text-sm">لطفا آدرس گیرنده را مشخص کنید</h2>
        {% endif  %}
        <div class="divider"></div>
        <form class="flex flex-col gap-2 bg-stone-50 p-2 rounded-box" action="{% url 'orders:checkout' user.shop.name %}" method="post">
            <h2 class="text-gray-700 text-sm p-2">آدرس گیرنده:</h2>
            {% csrf_token %}
            <div class="flex flex-col gap-1">
                {% for address in user.addresses.all %}
                <div class="form-control">
                    <label class="label cursor-pointer justify-start gap-2">
                        <input type="radio" name="address" value="{{ address.id }}" class="radio checked:bg-blue-500"
                            id="man">
                        <span class="label-text p-1">{{ address }}</span>
                    </label>
                </div>
                {% endfor %}
            </div>
            <textarea name="order_msg" class="textarea textarea-bordered" placeholder="توضیحات سفارش" id="" cols="30"
                rows="2"></textarea>

            <div class="flex gap-4">
                {% if wallet_has_balance %}
                    <div class="form-control">
                        <label class="label cursor-pointer w-fit">
                            <input type="radio" class="radio radio-primary radio-xs" name="pay_via" value="wallet" id=""
                                checked>
                            <span class="label-text text-xs mr-2">از کیف پول</span>
                        </label>
                    </div>
                {% else  %}
                <button class="btn btn-sm">شارژ کردن کیف پول</button>
                {% endif %}
                <div class="form-control">
                    <label class="label cursor-pointer w-fit">
                        <input type="radio" class="radio radio-primary radio-xs" name="pay_via" value="direct" id="" checked>
                        <span class="label-text text-xs mr-2">پرداخت مستقیم</span>
                    </label>
                </div>
            </div>
            {% if pay_status == 'invalid pay_via' %}
            <h2 class="mt-2 text-center text-error text-sm">روش پرداخت را مشخص کنید/h2>
            {% endif %}
            <button type="submit" class="btn w-full btn-primary">پرداخت</button>
            {% if connection == 'error' %}
            <h2 class="mt-2 text-center text-error text-sm">خطا در اتصال به درگاه /h2>
            {% endif %}
        </form>
    </section>
    
    {% endif %}

</section>

{% endblock %}

{% block scripts %}
<script defer src="{% static 'js/functions.js' %}"></script>
{% endblock %}