{% extends 'user/dashboard/dashboard.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content  %}
<div class="flex flex-col md:flex-row md:mt-8 items-center justify-center w-full h-full gap-2">
    <form class=" p-3 w-11/12 md:w-1/3 bg-base-100 rounded-box shadow flex flex-col gap-2"
        action="{% url 'users:create-shop' %}" method="post">
        {% if shop_req  %}

        {% if shop_req.rejected %}

        <div class="w-full  flex flex-col gap-2 items-center justify-center">
            <i class="bi-shop text-primary text-7xl"></i>
            <p class="text-gray-500 text-sm">
                با ساخت بوتیک...
            </p>
        </div>
        <div class="divider -mt-1 w-2/3 mx-auto"></div>
        <h4 class="text-center text-md text-gray-800 mb-2">درخواست ساخت بوتیک</h4>
        <div class="flex gap-1 p-2 items-center" dir="ltr">
            <span class="w-1/4 text-gray-500">onmode.ir/</span>
            <input name="name" placeholder="نشانی اینترنتی به انگلیسی " class="w-3/4 input input-bordered p-1"
                type="text" required value="{% if shop_req.rejected %}{{shop_req.name}}{% endif %}">
        </div>
        <p class="text-xs text-error p-2">نشانی اینترنتی تنها میتواند شامل حروف و اعداد انگلیسی و علامت ـ باشد.</p>
        <input name="title" placeholder="نام بوتیک به فارسی" class="input input-bordered p-1" type="text" required
            value="{% if shop_req.rejected %}{{shop_req.title}}{% endif %}">
        {{shop_req.reject_status}}
        <button type="submit" class="btn btn-primary">ثبت درخواست</button>

        {% else %}
        <i class="bi-emoji-heart-eyes text-blue-400 text-5xl mx-auto"></i>
        <span class="text-sm text-blue-400  text-center">درخواست شما ثبت شده است و درحال بررسی است</span>
        {% endif %}

        {% else %}
        <div class="w-full  flex flex-col gap-2 items-center justify-center">
            <i class="bi-shop text-primary text-7xl"></i>
            <p class="text-gray-500 text-sm">
                با ساخت بوتیک...
            </p>
        </div>
        <div class="divider -mt-1 w-2/3 mx-auto"></div>
        <h4 class="text-center text-md text-gray-800 mb-2">درخواست ساخت بوتیک</h4>
        <div class="flex gap-1 p-2 items-center" dir="ltr">
            <span class="w-1/4 text-gray-500">onmode.ir/</span>
            <input name="name" placeholder="نشانی اینترنتی به انگلیسی " class="w-3/4 input input-bordered p-1"
                type="text" required>
        </div>
        <p class="text-xs text-error p-2">نشانی اینترنتی تنها میتواند شامل حروف و اعداد انگلیسی و علامت ـ باشد.</p>
        <input name="title" placeholder="نام بوتیک به فارسی" class="input input-bordered p-1" type="text" required
            value="{% if shop_req.rejected %}{{shop_req.title}}{% endif %}">
        {{shop_req.reject_status}}
        <button type="submit" class="btn btn-primary">ثبت درخواست</button>

        {% endif %}
        {% csrf_token %}
    </form>
    {% if shop_req.rejected %}
    <div class="bg-white rounded-box shadow-md w-11/12 md:w-1/3 md:basis-1/3 p-2 flex flex-col">
        <div class="flex gap-2 p-2">
            <p class="text-xs text-gray-400">
                <i class="bi-info-circle p-1  text-primary text-xl"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem minus fuga ipsam asperiores
                non
                aut illum eaque doloremque? Facere assumenda voluptates quis quo ab excepturi repellat accusantium
                deserunt
                fuga?
            </p>
        </div>
        <div class="flex gap-2 p-2">
            <p class="text-xs text-gray-400">
                <i class="bi-info-circle text-primary text-xl p-1"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem minus fuga ipsam asperiores
                non
                aut illum eaque doloremque? Facere assumenda voluptates quis quo ab excepturi repellat accusantium
                deserunt
                fuga?
            </p>
        </div>
        <div class="flex gap-2 p-2">
            <p class="text-xs text-gray-400">
                <i class="bi-info-circle p-1 text-primary text-xl"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem minus fuga ipsam asperiores
                non
                aut illum eaque doloremque? Facere assumenda voluptates quis quo ab excepturi repellat accusantium
                deserunt
                fuga?
            </p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}