{% extends 'user/dashboard/dashboard.html' %}
{% load static %}
{% load options %}
{% block title %}

{% endblock %}

{% block content  %}
{{ status }}

<div class="flex justify-center items-center mt-8 p-2">
    <div class="tabs gap-4">
        <a class="tab tab-bordered " href="{% if product %}{% url 'users:edit-product' product.id %}{% endif %}">مشخصات</a>
        <a class="tab tab-bordered tab-active"  >سایر ویژگیها</a>
    </div>
</div>

<div class="flex flex-col md:flex-row gap-2  justify-center  md:mt-2">
    <section class="flex flex-col w-full  md:basis-3/5">
        <section class="bg-base-100  rounded-box shadow-md flex-col p-2   mb-20  gap-2">
            <h2 class="text-center text-lg text-blue-500">تصاویر</h2>
            <div class="flex flex-col md:flex-row w-full mt-4">
                <div class="flex flex-col  gap-2 basis-1/2 ">
                    {% if product.preview.img %}
                        <img src="{{product.preview.img.url}}" class=" w-80 h-72 rounded-box object-cover" alt="{{product.preview.alt}}">
                    {% endif %}
                </div>
                <div class="flex flex-col gap-1 mt-2 w-full basis-1/2 ">
                   {% if product.photos %}
                        {% for photo in product.photos.all %}
                            <div class="flex w-full items-center  bg-slate-50 justify-between p-1 rounded-md">
                                <img src="{% if photo.img %}{{photo.img.url}}{% else %}{% if photo.url %}{{photo.url}}{% endif %}{% endif %}" 
                                class="w-12 h-12 rounded-box object-cover" 
                                alt="{{photo.alt}}">
                                <form action="{% url 'users:delete-photo' product.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="photo_id" value="{{photo.id}}">
                                    <div class="flex gap-2">
                                        <button formmethod="post" formaction="{% url 'users:make-as-preview' product.id %}" type="submit">
                                           {% if product.preview.id == photo.id %} 
                                           <i class="bi-check-circle text-gray-800 text-lg "></i>
                                           {% else %}
                                           <i class="bi-file-earmark-image text-gray-300 text-lg "></i>
                                           {% endif %}
                                        </button>
                                        <button type="submit">
                                            <i class="bi-trash text-gray-500 text-lg "></i>
                                        </button>
                                    </div>
                                </form>
                            </div>    
                        {% endfor %}
                   {% endif %}
                </div>
            </div>
            <div class="divider w-1/3 mx-auto"></div>
            <form enctype="multipart/form-data" class="w-full p-2  mt-4 flex flex-col items-center gap-2" method="post" action="{% url 'users:add-photo' product.id %}">
                {% csrf_token %}
                <h2 class="text-sm text-gray-500 text-center ">افزودن تصویر</h2>
                <input type="file" class="" name="photo" accept="image/*" >
                <input type="text" name="alt" placeholder="متن جایگزین تصویر" class="input input-bordered mt-2" id="">
                <button class="btn btn-primary w-1/2 mx-auto mt-2">افزودن</button>
            </form>
        </section>
    </section>

    <section class="flex flex-col gap-2 w-full md:w-1/4 md:basis-1/4">
        <form method="post" accept="{% url 'users:add-option' product.id %}" class="bg-base-100 p-3  rounded-box shadow-md flex flex-col gap-2">
            {% csrf_token %}
            <input type="hidden" name="name" value="brand">
            <h2 class="text-center text-sm text-blue-500">برند</h2>
            {% get_option brand as brands  %}
            
            {% if brands %}
            <div class="p-2 rounded border border-gray-400 max-h-52 overflow-auto">
                {% for brand in brands.choices %}
                <div class="form-control">
                    <label class="label cursor-pointer w-fit">
                        <input type="radio" class="radio radio-primary radio-xs" name="value" value="{{brand.name}}"
                            id="">
                        <span class="label-text text-xs mr-2">{{brand.name}}</span>
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="flex gap-2 -full p-1 items-center justify-center">
                <button type="submit" class="btn w-1/2 btn-primary">ثبت</button>
                <a href="#" class="btn w-1/2 btn-outline">لغو</a>
            </div>
                {% else %}
                {% endif %}
        </form>

        <form method="post" accept="{% url 'users:add-option' product.id %}" class="bg-base-100 p-4   rounded-box shadow-md flex flex-col gap-2">
            {% csrf_token %}
            <h2 class="text-center text-sm text-blue-500">رنگبندی</h2>
            {% get_option color as colors  %}
            {% if colors %}
            <input type="hidden" name="name" value="color">
            <div class="flex gap-3 gap-y-0 flex-wrap w-full -mt-4 ">
                {% for color in colors.choices %}
                <div class="form-control">
                    <label class="rounded-full   group cursor-pointer">
                        <input name="value" type="checkbox" value="{{color.id}}" class="appearance-none peer">
                        <div style="background-color:{{color.code}};"
                            class="rounded-full w-4 h-4 outline outline-transparent outline-2 peer-checked:outline-primary outline-offset-2">
                        </div>
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="flex gap-2 -full p-1 items-center justify-center">
                <button type="submit" class="btn w-1/2 btn-primary">ثبت</button>
            </div>
                {% else %}
                {% endif %}
        </form>
        <form method="post" accept="{% url 'users:add-option' product.id %}" class="bg-base-100  p-4 rounded-box shadow-md flex flex-col gap-1">
            {% csrf_token %}
    
            <h2 class="text-center text-sm text-blue-500">سایزبندی</h2>
            {% get_option size as sizes  %}
            {% if sizes %}
            <input type="hidden" name="name" value="size">
            <div class="flex gap-1 flex-wrap w-full pr-1 pl-1 -mt-4 text-xs">
            {% for size in sizes.choices %}
                <div class="form-control">
                    <label class="rounded-full p-1 group cursor-pointer">
                        <input name="value" type="checkbox" value="{{size.id}}" class="appearance-none peer">
                        <div class="text-center    peer-checked:bg-primary peer-checked:text-white p-1">
                            {{size.code}}
                        </div>
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="flex gap-2 -full p-1 items-center justify-center">
                <button type="submit" class="btn w-1/2 btn-primary">ثبت</button>
                <a href="#" class="btn w-1/2 btn-outline">لغو</a>
            </div>
                {% else %}
                {% endif %}
        </form>
    </section>

</div>

{% endblock %}

{% block scripts %}
<script defer>
   
</script>
{% endblock %}