{% extends 'user/dashboard/dashboard.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content  %}
<div class="grid grid-cols-1 md:grid-cols-3 justify-items-center content-start md:mt-8  w-full h-full gap-2">
    <article class="relative bg-base-100 flex flex-col gap-2 items-center shadow-md p-2  rounded-box" action=""
        method="post">
        <div class="flex gap-2">
            <div class="avatar">
                <div class="w-24 rounded">
                    <img src="https://i.pravatar.cc/300" class="object-cover" />
                </div>
            </div>
            <div class="flex flex-col basis-full  gap-2 p-1">
                <div class="flex items-center justify-between">
                    <h2 class="text-md text-gray-700 mr-2">نام محصول</h2>
                    <div class="text-xs flex gap-1 text-gray-500">
                        <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                            class="bi-star"></i>
                    </div>
                </div>
                <p class="text-gray-400 text-xs mr-2 overflow-hidden text-ellipsis max-h-16">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, dicta? Deserunt obcaecati eveniet
                    adipisci amet eos quibusdam iusto id, at cupiditate odio aspernatur voluptate tempore doloremque,
                    aut,
                    adipisci amet eos quibusdam iusto id, at cupiditate odio aspernatur voluptate tempore doloremque,

                    odit ipsa maxime.
                </p>
            </div>
        </div>
        <form class="p-2 flex justify-center items-center gap-1" action="" method="post">
            <button class="text-red-500 text-xs">حذف</button>
        </form>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center shadow-md p-2  rounded-box" action=""
        method="post">
        <div class="flex gap-2">
            <div class="avatar">
                <div class="w-24 rounded">
                    <img src="https://i.pravatar.cc/300" class="object-cover" />
                </div>
            </div>
            <div class="flex flex-col basis-full  gap-2 p-1">
                <div class="flex items-center justify-between">
                    <h2 class="text-md text-gray-700 mr-2">نام محصول</h2>
                    <div class="text-xs flex gap-1 text-gray-500">
                        <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                            class="bi-star"></i>
                    </div>
                </div>
                <p class="text-gray-400 text-xs mr-2 overflow-hidden text-ellipsis max-h-16">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, dicta? Deserunt obcaecati eveniet
                    adipisci amet eos quibusdam iusto id, at cupiditate odio aspernatur voluptate tempore doloremque,
                    aut,
                    adipisci amet eos quibusdam iusto id, at cupiditate odio aspernatur voluptate tempore doloremque,

                    odit ipsa maxime.
                </p>
            </div>
        </div>
        <form class="p-2 flex justify-center items-center gap-1" action="" method="post">
            <button class="text-red-500 text-xs">حذف</button>
        </form>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center shadow-md p-2  rounded-box" action=""
        method="post">
        <div class="flex gap-2">
            <div class="avatar">
                <div class="w-24 rounded-box">
                    <img src="https://i.pravatar.cc/300" class="object-cover" />
                </div>
            </div>
            <div class="flex flex-col basis-full  gap-2 p-1">
                <div class="flex items-center justify-between">
                    <h2 class="text-md text-gray-700 mr-2">نام محصول</h2>
                    <div class="text-xs flex gap-1 text-gray-500">
                        <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                            class="bi-star"></i>
                    </div>
                </div>
                <p class="text-gray-400 text-xs mr-2 overflow-hidden text-ellipsis max-h-16">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, dicta? Deserunt obcaecati eveniet
                    adipisci amet eos quibusdam iusto id, at cupiditate odio aspernatur voluptate tempore doloremque,
                    aut,
                    adipisci amet eos quibusdam iusto id, at cupiditate odio aspernatur voluptate tempore doloremque,

                    odit ipsa maxime.
                </p>
            </div>
        </div>
        <form class="p-2 flex justify-center items-center gap-1" action="" method="post">
            <button class="text-red-500 text-xs">حذف</button>
        </form>
    </article>
</div>
{% endblock %}