{% load static %}
<!DOCTYPE html>
<html class="h-full" dir="rtl" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Harmattan&family=Lemonada&display=swap"
            rel="stylesheet">

        <style>
            * {
                font-family: 'Amiri', serif;
                font-family: 'Harmattan', sans-serif;
                font-family: 'Lemonada', cursive;
            }
        </style>
        <title>{%block title %}{% endblock %}</title>
    </head>

    <body class="bg-stone-50 min-h-full ">
        <!-- <header class="w-full bg-white shadow-md">
            <nav class="navbar bg-base-100 gap-2">
                <div class="flex-1 gap-2 p-1">
                    <a href="#" class="p-1">
                        onMode
                    </a>
                    <div class="form-control w-11/12 mx-auto">
                        <input type="text" placeholder="جستجو..." class="input input-md rounded-box input-bordered">
                    </div>
                </div>
                <div class="flex-none">
                    <div class="dropdown dropdown-hover dropdown-right">
                        <a href="{% url 'users:cart' %}" tabindex="0" class="btn btn-ghost btn-circle ">
                            <div class="indicator">
                                <i class="bi-bag text-2xl "></i>
                                <span class="badge badge-primary badge-sm indicator-item">10</span>
                            </div>
                        </a>
                        <div tabindex="0" class="mt-3  card card-compact dropdown-content w-52 bg-base-100 shadow">
                            <div class="card-body">
                                <h2 class="font-bold text-center">سبدخرید</h2>
                                <div class="flex flex-col gap-2">
                                    <div class="flex gap-2 justify-between items-center bg-stone-50 p-1 rounded-box">
                                        <img src="https://i.pravatar.cc/300" class="w-12 h-12 object-cover rounded-box"
                                            alt="">
                                        <span class="text-xs">12000تومان</span>
                                    </div>
                                    <div class="flex gap-2 justify-between items-center bg-stone-50 p-1 rounded-box">
                                        <img src="https://i.pravatar.cc/300" class="w-12 h-12 object-cover rounded-box"
                                            alt="">
                                        <span class="text-xs">12000تومان</span>
                                    </div>

                                    <div class="flex gap-2 justify-between items-center">
                                        <img src="https://i.pravatar.cc/300" class="w-12 h-12 object-cover rounded-box"
                                            alt="">
                                        <span class="text-xs">12000تومان</span>
                                    </div>
                                </div>
                                <span class="text-info">80000تومان</span>
                                <div class="card-action">
                                    <button class="btn btn-primary btn-block">مشاهده سبد خرید</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <nav class="navbar min-h-8 ">
                <div class="flex-1">
                    <div tabindex="0" class="dropdown dropdown-hover w-full">
                        <label tabindex="0" class="btn btn-ghost">محصولات</label>
                        <div class="dropdown-content w-full bg-white shadow-sm p-1">
                            gfdgdf
                        </div>
                    </div>
                </div>
                <div class="flex-none p-1 flex gap-1">
                    <a class="btn btn-ghost btn-circle">
                        <i class="bi-person text-2xl"></i>
                    </a>
                    <a class="btn btn-ghost btn-circle">
                        <i class="bi-heart text-2xl"></i>
                    </a>
                    <a class="btn btn-ghost btn-circle">
                        <i class="bi-bell text-2xl"></i>
                    </a>

                </div>
            </nav>
        </header> -->
        <main  class="flex flex-col md:flex-row w-full min-h-full ">
            <section
                class="md:basis-1/6  md:mt-8 p-2 flex justify-center z-50 items-center w-full md:h-screen fixed bottom-2 md:static">
                <ul class="menu menu-horizontal md:menu-vertical isolate  z-50 bg-base-100 p-0 md:p-2 shadow-md text-sm  rounded-box">
                    <li class="dropdown dropdown-top dropdown-end dropdown-hover md:dropdown-left">
                        <label tabindex="0">
                            <i class="bi-person md:text-xl"></i>
                            <span class="hidden md:block">مشخصات</span>
                        </label>
                        <ul class="dropdown-content menu p-2 bg-base-100 rounded-box shadow-md w-52">
                            <li>
                                <a href="{% url 'users:profile' %}">
                                    <i class="bi-info-circle"></i>
                                    <span>ویرایش مشخصات</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:wallet' %}">
                                    <i class="bi-wallet"></i>
                                    <span>کیف پول</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:addresses' %}">
                                    <i class="bi-book"></i>
                                    <span>آدرسها</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown dropdown-top dropdown-end dropdown-hover md:dropdown-left">
                        <label tabindex="0">
                            <i class="bi-shop md:text-xl"></i>
                            <span class="hidden md:block">فروشگاه</span>
                        </label>
                        <ul class="dropdown-content menu p-2 bg-base-100 rounded-box shadow-md w-52">
                            {% if user.has_shop %}
                                <li>
                                    <a href="{% url 'users:edit-shop' %}">
                                        <i class="bi-info-circle"></i>
                                        <span>مشخصات بوتیک</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'users:shop_orders' %}">
                                        <i class="bi-box"></i>
                                        <span>سفارشها</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'users:add-product' %}">
                                        <i class="bi-plus"></i>
                                        <span>افزودن محصول</span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'users:create-shop' %}">
                                        <i class="bi-box2-heart"></i>
                                        <span>ساخت بوتیک</span>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'users:favourites' %}" class="active">
                            <i class="bi-heart md:text-xl"></i>
                            <span class="hidden md:block">علایق</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users:comments' %}">
                            <i class="bi-chat md:text-xl"></i>
                            <span class="hidden md:block">دیدگاهها</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users:orders' %}">
                            <i class="bi-bag-check md:text-xl"></i>
                            <span class="hidden md:block">سفارشها</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users:messages' %}">
                            <i class="bi-envelope md:text-xl"></i>
                            <span class="hidden md:block">پیامها</span>
                        </a>
                    </li>
                  
                </ul>
            </section>
            <section class="md:basis-5/6 p-2">
                {% block content %}
                {% endblock %}
            </section>
        </main>
        <footer></footer>
        {% block scripts %}
        {% endblock %}
    </body>

</html>