{% load static %}
<!DOCTYPE html>
<html class="h-full" dir="rtl" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Harmattan&family=Lemonada&display=swap"
            rel="stylesheet">

        <style>
            * {
                font-family: 'Amiri', serif;
                font-family: 'Harmattan', sans-serif;
                font-family: 'Lemonada', cursive;
            }
        </style>
        <title>{%block title %}{% endblock %}</title>
    </head>

    <body class="bg-stone-50 min-h-full ">
        <header class="w-full bg-white shadow">
            <nav class="navbar bg-base-100 gap-1 ">
                <div class="flex-1 gap-2 p-1 basis-12">
                    <a href="{% url 'index:index' %}">
                        <img src="{{siteinfo.logo.url}}" class="w-8 h-8 md:h-12 md:w-12 object-cover rounded-full"
                            alt="logo">
                    </a>
                    <div class="form-control w-full mr-2">
                        <div class="border items-center p-0 rounded-box bg-stone-50 flex gap-2 ">
                            <!-- <label for="my-drawer"
                                class="cursor-pointer rounded-r-box flex items-center gap-1 drawer-button ">
                                <i class="bi-list pr-1"></i>
                                <span class="text-xs hidden md:block">محصولات</span>
                            </label> -->
                            <div class="bg-white flex justify-between w-full rounded-box">
                                <input type="text" placeholder="جستجو..."
                                    class="text-xs w-full p-2 outline-none basis-full bg-transparent mr-1">
                                <i class="bi-search p-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-none">
                    {% if user.is_authenticated %}
                    <div tabindex="0" dir="ltr" class="dropdown  dropdown-hover">
                        <a tabindex="0" class="btn btn-ghost btn-circle ">
                            <i class="bi-person text-xl md:text-3xl "></i>
                        </a>
                        <ul tabindex="0" dir="rtl"
                            class="dropdown-content menu menu-vertical menu-compact w-48 p-2 rounded-box shadow bg-base-100">
                            <li>
                                <a href="{% url 'users:dashboard' %}" class="text-xs">
                                    <i class="bi-person text-lg"></i>
                                    داشبورد
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:messages' %}" class="text-xs">
                                    <i class="bi-bell text-lg"></i>
                                    پیامها
                                </a>
                            </li>
                            <li>
                                <a href="" class="text-xs text-error">
                                    <i class="bi-box-arrow-in-right text-lg"></i>
                                    خروج
                                </a>
                            </li>

                        </ul>
                    </div>
                    {% endif  %}

                    <a href="{% url 'orders:cart' %}" tabindex="0" class="btn btn-ghost btn-circle ">
                        <div class="indicator">
                            <i class="bi-bag text-xl md:text-2xl "></i>
                            <span class="badge badge-primary badge-sm indicator-item">10</span>
                        </div>
                    </a>
                </div>
            </nav>
        </header>
        <main class="flex flex-col md:flex-row w-full min-h-full ">
            <section
                class="md:basis-1/6  md:mt-8 p-2 flex justify-center z-50 items-center w-full md:h-screen fixed bottom-2 md:static">
                <ul
                    class="menu menu-horizontal md:menu-vertical isolate  z-50 bg-base-100 p-0 md:p-2 shadow-md text-sm  rounded-box">
                    <li class="dropdown dropdown-top dropdown-end dropdown-hover md:dropdown-left">
                        <label tabindex="0">
                            <i class="bi-person md:text-xl"></i>
                            <span class="hidden md:block">مشخصات</span>
                        </label>
                        <ul class="dropdown-content menu p-2 bg-base-100 rounded-box shadow-md w-52">
                            <li>
                                <a href="{% url 'users:profile' %}">
                                    <i class="bi-info-circle"></i>
                                    <span>ویرایش مشخصات</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:wallet' %}">
                                    <i class="bi-wallet"></i>
                                    <span>کیف پول</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:addresses' %}">
                                    <i class="bi-book"></i>
                                    <span>آدرسها</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown dropdown-top dropdown-end dropdown-hover md:dropdown-left">
                        <label tabindex="0">
                            <i class="bi-shop md:text-xl"></i>
                            <span class="hidden md:block">فروشگاه</span>
                        </label>
                        <ul class="dropdown-content menu p-2 bg-base-100 rounded-box shadow-md w-52">
                            {% if user.has_shop %}
                            <li>
                                <a href="{% url 'users:edit-shop' %}">
                                    <i class="bi-info-circle"></i>
                                    <span>مشخصات بوتیک</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'orders:shop_orders' %}">
                                    <i class="bi-box"></i>
                                    <span>سفارشها</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:add-product' %}">
                                    <i class="bi-plus"></i>
                                    <span>افزودن محصول</span>
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'users:create-shop' %}">
                                    <i class="bi-box2-heart"></i>
                                    <span>ساخت بوتیک</span>
                                </a>
                            </li>
                            {% endif %}

                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'users:favourites' %}" class="active">
                            <i class="bi-heart md:text-xl"></i>
                            <span class="hidden md:block">علایق</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users:comments' %}">
                            <i class="bi-chat md:text-xl"></i>
                            <span class="hidden md:block">دیدگاهها</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'orders:user_orders' %}">
                            <i class="bi-bag-check md:text-xl"></i>
                            <span class="hidden md:block">سفارشها</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users:messages' %}">
                            <i class="bi-envelope md:text-xl"></i>
                            <span class="hidden md:block">پیامها</span>
                        </a>
                    </li>

                </ul>
            </section>
            <section class="md:basis-5/6 p-2 h-full">
                {% block content %}
                <section class="flex flex-col gap-2 w-full h-full justify-center  p-1">
                    <div class="md:w-3/4 flex flex-col md:flex-row gap-2">
                        <div class="bg-base-100 rounded-box p-2 w-full md:w-1/3 flex flex-col ">
                            <h2 class="text-center text-gray-500 ">کیف پول</h2>
                            <div class="flex justify-between p-1 gap-2 mt-2">
                                <span>کل موجودی:</span>
                                <span>{{user.wallet.total}} تومان</span>
                            </div>
                            <div class="flex text-green-500 justify-between p-1 gap-2 mt-2">
                                <span>قابل برداشت:</span>
                                <span>{{user.wallet.available}} تومان</span>
                            </div>
                            <div class="flex text-red-500 justify-between p-1 gap-2 mt-2">
                                <span>غیر قابل برداشت:</span>
                                <span>{{user.wallet.freezed}} تومان</span>
                            </div>

                        </div>
                        <section class="w-full md:w-2/3 bg-white rounded-box p-1">
                            <h1 class="text-center text-xs ">آخرین پیامها</h1>
                        </section>

                    </div>
                    <div class="md:w-3/4 flex flex-col md:flex-row gap-2">
                        <div class="md:w-1/2 bg-white rounded-box p-1 ">
                            <h1 class="text-center text-sm text-gray-600">اخرین سفارشها</h1>
                        </div>
                        <div class="md:w-1/2 bg-white rounded-box p-1 ">
                            <h1 class="text-center text-sm text-gray-600">اخرین سفارشهای بوتیک</h1>
                        </div>

                    </div>
                </section>
                {% endblock %}
            </section>
        </main>
        {% block scripts %}
        {% endblock %}
    </body>

</html>