{% extends 'user/dashboard/dashboard.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content  %}
<div class="grid grid-cols-2 md:grid-cols-4 justify-items-center content-start md:mt-8  w-full h-full gap-2">
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-md h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-center items-center gap-4">
            <strong class="text-sm">12000 تومان</strong>
            <del class="text-sm">50000 تومان</del>
        </div>
        <div class="flex items-center w-full gap-1 mt-2">
            <button class="btn w-3/4 btn-primary text-md">
                <i class="bi-cart text-white text-2xl"></i>
                <span class="hidden">افزودن به سبد خرید</span>
            </button>
            <button class="w-1/4  btn btn-error text-white">
                <i class="bi-trash text-sm"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-md h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-center items-center gap-4">
            <strong class="text-sm">12000 تومان</strong>
            <del class="text-sm">50000 تومان</del>
        </div>
        <div class="flex items-center w-full gap-1 mt-2">
            <button class="btn w-3/4 btn-primary text-md">
                <i class="bi-cart text-white text-2xl"></i>
                <span class="hidden">افزودن به سبد خرید</span>
            </button>
            <button class="w-1/4  btn btn-error text-white">
                <i class="bi-trash text-sm"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>

    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-md h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-center items-center gap-4">
            <strong class="text-sm">12000 تومان</strong>
            <del class="text-sm">50000 تومان</del>
        </div>
        <div class="flex items-center w-full gap-1 mt-2">
            <button class="btn w-3/4 btn-primary text-md">
                <i class="bi-cart text-white text-2xl"></i>
                <span class="hidden">افزودن به سبد خرید</span>
            </button>
            <button class="w-1/4  btn btn-error text-white">
                <i class="bi-trash text-sm"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>

    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-md h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-center items-center gap-4">
            <strong class="text-sm">12000 تومان</strong>
            <del class="text-sm">50000 تومان</del>
        </div>
        <div class="flex items-center w-full gap-1 mt-2">
            <button class="btn w-3/4 btn-primary text-md">
                <i class="bi-cart text-white text-2xl"></i>
                <span class="hidden">افزودن به سبد خرید</span>
            </button>
            <button class="w-1/4  btn btn-error text-white">
                <i class="bi-trash text-sm"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-md h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-center items-center gap-4">
            <strong class="text-sm">12000 تومان</strong>
            <del class="text-sm">50000 تومان</del>
        </div>
        <div class="flex items-center w-full gap-1 mt-2">
            <button class="btn w-3/4 btn-primary text-md">
                <i class="bi-cart text-white text-2xl"></i>
                <span class="hidden">افزودن به سبد خرید</span>
            </button>
            <button class="w-1/4  btn btn-error text-white">
                <i class="bi-trash text-sm"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>



</div>
{% endblock %}