{% extends 'user/dashboard/dashboard.html' %}
{% load static %}
{% load options %}

{% block title %}
علاقه مندیها
{% endblock %}

{% block content  %}
<div class="grid grid-cols-2 md:grid-cols-4 justify-items-center content-start md:mt-8  w-full h-full gap-2">
    {% for fav in user.favourites.all %}
    {% with fav.product as product %}
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <a href="{% url 'catalogue:product_detail' product.prod_code %}">
            <img src="{{product.preview.img.url}}" class="w-60 rounded-box h-52 object-cover"
                alt="{{product.preview.img.alt}}">
        </a>
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-[0.6rem] md:text-sm">{{product.name}}</h4>
            <div dir="ltr" class="text-xs md:text-sm flex gap-1  text-gray-500">
                {% for i in product.stats.rate %}
                <i class="bi-star-fill text-yellow-500 "></i>
                {% endfor %}
                {% for i in product.stats.rate_complement %}
                <i class="bi-star "></i>
                {% endfor%}
            </div>
        </div>
        <div class="flex justify-between gap-4">
            {% if collection.discount.is_valid or product.discount.is_valid %}

            <del
                class="text-[0.6rem] md:text-sm text-gray-400">{% if product.has_sales %}{{product.sales_price}}{% else %}{{product.price}}{% endif %}</del>
            <strong class="text-[0.6rem] md:text-sm text-red-400">{% compute_price product collection %} تومان</strong>
            {% else %}
            <strong class="text-[0.6rem] md:text-sm text-gray-600">{% compute_price product collection %} تومان</strong>
            {% endif %}
        </div>
        <div class="flex items-center justify-center w-full gap-1 ">
            {% if not product.shop == user.shops.first %}
            <button onclick="addToCart(this);" data-pid="{{product.id}}"
                class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-heart text-gray  text-xl"></i>
            </button>
            {% else  %}
            <button onclick="addToCart(this);" data-pid="{{product.id}}" data-collection="{{collection.id}}"
                class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-pencil text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
            {% endif  %}

        </div>
        {% if collection.discount.is_valid  %}
        {% if collection.prefer_collection_discount or not product.discount %}
        <span
            class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">{{collection.discount.percent}}%</span>
        {% endif %}
        {% elif product.discount and product.discount.is_valid %}
        <span
            class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">{{product.discount.percent}}%</span>
        {% endif %}
    </article>
    {% endwith %}
   

    {% endfor %}
    <!-- <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center justify-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article> -->

</div>
{% endblock %}
{% block scripts %}
<script>
    selectMenu('favourites')
</script>
{% endblock %}