{% extends 'user/dashboard/dashboard.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content  %}
<div class="grid grid-cols-2 md:grid-cols-4 justify-items-center content-start md:mt-8  w-full h-full gap-2">
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>
    <article class="relative bg-base-100 flex flex-col gap-2 items-center  p-2  rounded-box" action="" method="post">
        <img src="https://i.pravatar.cc/300" class="w-60 rounded-box h-52 object-cover" alt="">
        <div class="flex justify-between w-full items-center">
            <h4 class="text-gray-500 text-sm">نام محصول</h4>
            <div class="text-xs flex gap-1 text-gray-500">
                <i class="bi-star "></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i
                    class="bi-star"></i>
            </div>
        </div>
        <div class="flex justify-between gap-4">
            <del class="text-xs md:text-sm text-gray-400">125000000</del>
            <strong class="text-xs md:text-sm text-red-400">1200000 تومان</strong>
        </div>
        <div class="flex items-center justify-center w-full gap-1 ">
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-bag text-gray  text-xl"></i>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle text-md">
                <i class="bi-trash text-gray  text-xl"></i>
            </button>
        </div>
        <span class="absolute top-4 left-4 p-2 rounded-md text-white text-sm bg-red-600">17%</span>
    </article>

</div>
{% endblock %}