{% load static %}
<!DOCTYPE html>
<html dir="rtl" class="h-full" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

        <title>404</title>
    </head>

    <body class="bg-stone-50 w-full h-full flex flex-col justify-center gap-2 items-center">
        <div>
            <span class="text-red-700 text-6xl">4</span>
            <i class="bi-emoji-dizzy text-6xl text-black "></i>
            <span class="text-red-700 text-6xl">4</span>
        </div>
        <div class="divider w-1/3 mx-auto"></div>
        <p class="text-lg text-red-600 ">صفحه مورد نظر پیدا نشد !!</p>
        <a class="btn btn-outline mt-4 ">بازگشت به سایت</a>
    </body>

</html>