{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>aboutus</title>
</head>
<body class="w-full min-h-screen bg-white">
    <section class="w-full min-h-screen bg-white">

    </section>
    <section class="w-full min-h-screen bg-stone-50 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        <article class="flex flex-col bg-base-100 rounded-box p-2 shadow-md">
            <img src="https://i.pravatar.cc/300" class="w-24 h-24 object-cover" alt="">
        </article>
    </section>
</body>
</html>