{% extends 'base.html' %}
{% load static %}

{% block title %}درباره ما{% endblock %}

{% block content  %}
<section class="w-full min-h-screen p-10">
    {{about.content|safe}}
</section>
<!-- 
<section
    class="gap-2 w-full min-h-screen grid grid-cols-2 md:grid-cols-3 lg:w-9/12 mx-auto lg:grid-cols-4  items-start p-2">
    <article class="flex flex-col  justify-center bg-base-100 rounded-box p-2 shadow-md">
        <img src="https://i.pravatar.cc/300" class="object-cover w-48 h-48 md:w-60 md:h-60 rounded-box" alt="">
        <div class="flex flex-col md:flex-row justify-between p-1 pl-2 items-center">
            <h2 class="text-center text-sm text-gray-600 text-md ">نیما نممی</h2>
            <div class="flex gap-2 justify-center items-center text-md text-gray-300">
                <a href="">
                    <i class="bi-facebook hover:text-gray-600"></i>
                </a>
                <a href="">
                    <i class="bi-instagram hover:text-gray-600"></i>
                </a>
                <a href="">
                    <i class="bi-telegram  hover:text-gray-600"></i>
                </a>
                <a href="">
                    <i class="bi-linkedin  hover:text-gray-600"></i>
                </a>
            </div>

        </div>
        <p class="text-gray-400 text-xs max-w-[120px] p-2 mx-auto truncate text-ellipsis">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nostrum iusto atque eveniet
            optio ipsam asperiores voluptates unde ad eaque inventore, rerum veniam nisi tempore minima! Sunt
            voluptate molestias iusto.
        </p>
    </article>
    

</section> -->
{% endblock  %}


{% block scripts %}

{% endblock %}
