{% load static %}
{% load gtm_tags %}
<!DOCTYPE html>
<html  dir="rtl" class="min-h-full w-full" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Harmattan&family=Lemonada&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
        <link rel="icon"  href="{% if siteinfo.favicon %}{{siteinfo.favicon}}{% endif %}">
        {% if siteinfo.enable_GTM  %}
        {% gtm_head GOOGLE_TAG_ID %}
        {% endif %}

        {% block head %}

        {% endblock %}

        <title>{% block title %}{% endblock %}</title>
        <style>
            * {
                font-family: 'Amiri', serif;
                font-family: 'Harmattan', sans-serif;
                font-family: 'Lemonada', cursive;
            }

            .swiper-button-prev {
                color: blue;
            }

            .swiper-button-next {
                color: blue;
            }
        </style>
    </head>

    <body style="background-color: #efefef33;" class=" w-full min-h-screen drawer">
        
        {% if siteinfo.enable_GTM %}
        {% gtm_body GOOGLE_TAG_ID  %}
        {% endif %}
        <input id="my-drawer" type="checkbox" class="drawer-toggle">
        <div class="drawer-content min-h-screen flex flex-col">
            {% if siteinfo.show_pinned_message %}
            <div style="background-color: {{siteinfo.pinned_color}}; color: {{siteinfo.pinned_text_color}};" class="w-full p-2">
                <a href="{{siteinfo.pinned_url}}">
                    <p class="w-full text-xs">
                        {{siteinfo.pinned_message}}
                    </p>
                </a>
            </div>
            {% endif %}
            <header class="w-full bg-white shadow">
                <nav class="navbar bg-base-100 gap-1 ">
                    <div class="flex-1 gap-2 p-1 basis-12">
                        <a href="{% url 'index:index'  %}">
                            <img src="{% if siteinfo.logo %}{{siteinfo.logo.url}}{% endif %}"
                                class="w-8 h-8 md:h-12 md:w-12 object-cover rounded-full" alt="logo">
                        </a>
                        <div class="form-control w-full mr-2">
                            <div class="border items-center p-0 rounded-box bg-stone-50 flex gap-2 ">
                                <label for="my-drawer"
                                    class="cursor-pointer rounded-r-box flex items-center gap-1 drawer-button ">
                                    <i class="bi-list pr-1"></i>
                                    <span class="text-xs hidden md:block">محصولات</span>
                                </label>
                                <form action="{% url 'search'  %}"
                                    class="bg-white flex justify-between w-full rounded-l-box">
                                    <input type="text" name="keywords" placeholder="جستجو..."
                                        class="text-xs w-full p-2 outline-none basis-full ">
                                    <button>
                                        <i class="bi-search p-2"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="flex-none">
                        {% if user.is_authenticated %}
                        <div tabindex="0" dir="ltr" class="dropdown  dropdown-hover">
                            <a tabindex="0" class="btn btn-ghost btn-circle ">
                                <i class="bi-person text-xl md:text-3xl "></i>
                            </a>
                            <ul tabindex="0" dir="rtl"
                                class="dropdown-content menu menu-vertical menu-compact w-48 p-2 rounded-box shadow bg-base-100">
                                <li>
                                    <a href="{% url 'users:dashboard' %}" class="text-xs">
                                        <i class="bi-person text-lg"></i>
                                        {{user.phone_num}}
                                    </a>
                                </li>
                                <li>
                                    {% if user.shop %}
                                        <a href="{% url 'shop' user.shop.name %}" class="text-xs">
                                            <i class="bi-shop text-lg"></i>
                                            بوتیک من
                                        </a>
                                    {% else %}
                                        <a href="{% url 'users:create-shop' %}" class="text-xs">
                                            <i class="bi-shop text-lg"></i>
                                            ساخت بوتیک
                                        </a>
                                    {% endif %}
                                </li>

                                <li>
                                    <a href="{% url 'users:messages' %}" class="text-xs">
                                        <i class="bi-bell text-lg"></i>
                                        پیامها
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'users:signout' %}" class="text-xs text-error">
                                        <i class="bi-box-arrow-in-right text-lg"></i>
                                        خروج
                                    </a>
                                </li>

                            </ul>
                        </div>
                        {% endif  %}
                        <a href="{% url 'orders:cart' %}" tabindex="0" class="btn btn-ghost btn-circle ">
                            <div class="indicator">
                                <i class="bi-bag text-xl md:text-2xl "></i>
                                <span id="cart-badge" class="badge badge-primary badge-sm indicator-item">{{user.cart_count}}</span>
                            </div>
                        </a>
                        {% if not user.is_authenticated  %}
                        <a href="{% url 'users:signup' %}" class="btn btn-sm text-xs btn-primary">عضویت/ورود</a>
                        {% endif %}
                    </div>
                </nav>
            </header>
            <main class="w-full h-full ">
                {% block content %}

                {% endblock %}

                <footer class="footer footer-center p-2 bg-gray-100 text-gray-600 mt-4">
                    <ul class="menu menu-horizontal text-xs  w-full justify-center  gap-1">
                        <li><a href="{% url 'index:page' 'aboutus' %}">درباره ما</a></li>
                        <li><a href="{% url 'index:contactus' %}">تماس با ما</a></li>
                        <li><a href="{% url 'index:page' 'policies' %}">قوانین</a></li>
                        <li><a href="{{siteinfo.blog}}">وبلاگ</a></li>
                        <li><a href="{% url 'index:page' 'faq' %}">FAQ</a></li>
                    </ul>
                    <a href="{% url 'index:return_terms' %}" class="text-xs btn btn-ghost">رویه بازگرداندن کالا</a>
                    <div class="flex items-center flex-col text-gray-700 justify-center text-xs">
                        <div class="flex gap-2">
                            <span>شماره تماس:</span>
                            <span>{{siteinfo.tel_line_1}}</span>
                        </div>
                        <div class="flex gap-1">
                            <span>خط دوم:</span>
                            <span>{{siteinfo.tel_line_2}}</span>
                        </div>
                        <div class="flex gap-1">
                            <span>ایمیل:</span>
                            <span>{{siteinfo.email}}</span>
                        </div>
                        <p class="text-xs w-3/4 md:w-1/3 text-gray-600">
                            {{siteinfo.address}}
                        </p>

                    </div>
                    <a  href="{% url 'index:certifications' %}">
                        <div class="flex w-fll gap-1">
                            {% for cert in certs %}
                            {% if cert.symbol_url %}
                                 <img src="{cert.symbol_url}" class="w-8 h-8 object-contain" alt="">
                            {% elif cert.symbol %}
                                <img src="{cert.symbol.url}" class="w-8 h-8 object-contain" alt="">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                    <div>
                        <div class="grid grid-flow-col gap-3 text-xl">
                            <a href="{{siteinfo.instagram}}">
                                <i class="bi-instagram text-gray-400 hover:text-gray-600"></i>
                            </a>
                            <a href="{{siteinfo.telegram}}">
                                <i class="bi-telegram text-gray-400 hover:text-gray-600"></i>

                            </a>
                            <a href="{{siteinfo.whatsapp}}">
                                <i class="bi-whatsapp text-gray-400 hover:text-gray-600"></i>
                            </a>
                            <a href="{{siteinfo.twitter}}">
                                <i class="bi-twitter text-gray-400 hover:text-gray-600"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <p class="text-[0.5rem]">Copyright © 2022 - تمام حقوق مادی و معنوی متعلق به گروه آنمد میباشد</p>
                    </div>
                </footer>
            </main>
        </div>

        <div class="drawer-side">
            <label for="my-drawer" class="drawer-overlay"></label>
            <div class="bg-base-100 p-0 flex flex-col  overflow-x-hidden w-80 text-gray-500  shadow-md">
                <div class="mt-4"></div>
                <list-menu>
                    {% for category in categories %}
                        <menu-group caption="{{category.name}}">
                            <menu-item link="{% url 'catalogue:category' category.id %}" caption="همه موارد این دسته"></menu-item>
                            {% if category.childs %}
                                {% for sub_1 in category.childs.all %}
                                    <menu-group caption="{{sub_1.name}}">
                                        <menu-item link="{% url 'catalogue:category' sub_1.id %}" caption="همه موارد این دسته"></menu-item>
                                        {% if sub_1.childs %}
                                            {% for sub_2 in sub_1.childs.all %}
                                                <menu-group caption="{{sub_2.name}}">
                                                    <menu-item link="{% url 'catalogue:category' sub_2.id %}" caption="همه موارد این دسته"></menu-item>
                                                        {% if sub_2.childs %}
                                                            {% for sub_3 in sub_2.childs.all %}
                                                                <menu-group caption="{{sub_3.name}}">
                                                                    <menu-item link="{% url 'catalogue:category' sub_3.id %}" caption="همه موارد این دسته"></menu-item>
                                                                    {%  if sub_3.childs %}
                                                                        {% for sub_4 in sub_3.childs.all %}
                                                                        <menu-item link="{% url 'catalogue:category' sub_4.id %}" caption="همه موارد این دسته"></menu-item>
                                                                            <menu-group caption="{{sub_4.caption}}">
                                                                            
                                                                            </menu-group>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </menu-group>
                                                            {% endfor %}
                                                        {% endif %}
                                                </menu-group>
                                            {% endfor %}
                                        {% endif %}
                                    </menu-group>
                                {% endfor %}
                            {% endif %}
                        </menu-group>
                    {% endfor %}
                </list-menu>
            </div>
          

        </div>

        {% block scripts %}

        {% endblock %}
        <script defer src="{% static 'js/menu.min.js' %}"></script>
        <script defer src="{% static 'js/function.min.js' %}"></script>
    </body>

</html>