{% load static %}
<!DOCTYPE html>
<html dir="rtl" class="min-h-full w-full" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Harmattan&family=Lemonada&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

        {% block head %}

        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <style>
            * {
                font-family: 'Amiri', serif;
                font-family: 'Harmattan', sans-serif;
                font-family: 'Lemonada', cursive;
            }

            .swiper-button-prev {
                color: blue;
            }

            .swiper-button-next {
                color: blue;
            }
        </style>
    </head>

    <body style="background-color: #efefef33;" class=" w-full min-h-screen drawer">
        <input id="my-drawer" type="checkbox" class="drawer-toggle">
        <div class="drawer-content min-h-screen flex flex-col">
            <header class="w-full bg-white shadow">
                <nav class="navbar bg-base-100 gap-1 ">
                    <div class="flex-1 gap-2 p-1 basis-12">
                        <a href="#">
                            <img src="https://i.pravatar.cc/300"
                                class="w-8 h-8 md:h-12 md:w-12 object-cover rounded-full" alt="">
                        </a>
                        <div class="form-control w-full mr-2">
                            <div class="border items-center p-0 rounded-box bg-stone-50 flex gap-2 ">
                                <label for="my-drawer"
                                    class="cursor-pointer rounded-r-box flex items-center gap-1 drawer-button ">
                                    <i class="bi-list pr-1"></i>
                                    <span class="text-xs hidden md:block">محصولات</span>
                                </label>
                                <div class="bg-white flex justify-between w-full rounded-l-box">
                                    <input type="text" placeholder="جستجو..."
                                        class="text-xs w-full p-2 outline-none basis-full ">
                                    <i class="bi-search p-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-none">
                        {% if user.is_authenticated %}
                        <div tabindex="0" dir="ltr" class="dropdown  dropdown-hover">
                            <a tabindex="0" class="btn btn-ghost btn-circle ">
                                <i class="bi-person text-xl md:text-3xl "></i>
                            </a>
                            <ul tabindex="0" dir="rtl"
                                class="dropdown-content menu menu-vertical menu-compact w-48 p-2 rounded-box shadow bg-base-100">
                                <li>
                                    <a href="{% url 'users:dashboard' %}" class="text-xs">
                                        <i class="bi-person text-lg"></i>
                                        داشبورد
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'users:messages' %}" class="text-xs">
                                        <i class="bi-bell text-lg"></i>
                                        پیامها
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="text-xs text-error">
                                        <i class="bi-box-arrow-in-right text-lg"></i>
                                        خروج
                                    </a>
                                </li>

                            </ul>
                        </div>
                        {% endif  %}
                        <a href="{% url 'orders:cart' %}" tabindex="0" class="btn btn-ghost btn-circle ">
                            <div class="indicator">
                                <i class="bi-bag text-xl md:text-2xl "></i>
                                <span class="badge badge-primary badge-sm indicator-item">10</span>
                            </div>
                        </a>
                        {% if not user.is_authenticated  %}
                        <a href="{% url 'users:signup' %}" class="btn btn-sm text-xs btn-primary">عضویت/ورود</a>
                        {% endif %}
                    </div>
                </nav>
            </header>
            <main class="w-full h-full ">
                {% block content %}

                {% endblock %}
                <footer class="footer footer-center p-10 bg-gray-100 text-gray-600 mt-4">
                    <div>
                        <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            fill-rule="evenodd" clip-rule="evenodd" class="inline-block fill-current">
                            <path
                                d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z">
                            </path>
                        </svg>
                        <p class="font-bold">
                            بهترین...
                        </p>
                        <p class="text-xs">Copyright © 2022 - تمام حقوق مادی و معنوی متعلق به گروه آنمد میباشد</p>
                    </div>
                    <ul class="menu menu-horizontal text-xs  w-full justify-center  gap-2">
                        <li><a href="">درباره ما</a></li>
                        <li><a href="">تماس با ما</a></li>
                        <li><a href="">قوانین</a></li>
                        <li><a href="">وبلاگ</a></li>
                    </ul>
                    <div>
                        <div class="grid grid-flow-col gap-3 text-xl">
                            <a>
                                <i class="bi-instagram"></i>
                            </a>
                            <a>
                                <i class="bi-telegram"></i>

                            </a>
                            <a>
                                <i class="bi-whatsapp"></i>
                            </a>
                            <a>
                                <i class="bi-linkedin"></i>
                            </a>
                            <a>
                                <i class="bi-twitter"></i>
                            </a>
                        </div>
                    </div>
                </footer>
            </main>
        </div>

        <div class="drawer-side">
            <label for="my-drawer" class="drawer-overlay"></label>
            <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
                <!-- Sidebar content here -->
                <li><a>Sidebar Item 1</a></li>
                <li><a>Sidebar Item 2</a></li>

            </ul>
        </div>
        {% block scripts %}

        {% endblock %}

    </body>

</html>